#message {
    display:none;
    /*background: #f1f1f1;*/
    color: #000;
    position: relative;
    padding: 20px;
    /*margin-top: 10px;*/
}

#message p {
    /*padding: 10px 35px;*/
    font-size: 14px;
}

/*h3 {*/
    /*color: blue;*/
/*}*/

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    /*content: "&#10004;";*/
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    /*content: "&#10006;";*/
}